# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular Languages that Data Scientists use
* Commonly used libraries used by Data Scientists
* Data Science Tools

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn

| Data Science Tools |
| ------ |
| Apache Spark |
| TensorFlow |
| Scikit-learn |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Sushobhit Nigam